{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<span class="material-icons-outlined">
</span>
<button id="add-post" class="btn btn-primary" data-visible="false">Add post</button>

<div class="new-post" style="display: none;">
    <h4>Add a new post</h4>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <textarea class="form-control" required id="text" name="post"></textarea>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endif %}
    <!-- Include all post  -->
    {% include 'network/allPost.html' %}

{% endblock %}