{% extends "network/layout.html" %} 
{% load static %}

{% block body %}
<div class="profile" id="username">{{profile_user}} </div>
<div class="info">
    <div id="followers">Followers: {{ profile_user.followers.count }} </div>
    <div id="following">Followings: {{ profile_user.following.count }} </div>
</div>

{% if user.is_authenticated %}

{% if user.username != profile_user.username %}

<div class="follow-section">
 
        {% if is_following %}
        <button id="follow-btn" data-user="{{profile_user.username}}">Unfollow</button>        
        {% else %}
        <button id="follow-btn"  data-user="{{profile_user.username}}">Follow</button>

    
    {% endif %}
</div>

{% endif %}

{% include 'network/allPost.html' %}

<script src="{% static 'network/follow.js' %}"></script>

{% endif %}
{% endblock %}