body{
    margin: 5px;
    padding: 0;
    background-color: beige;
}

.item-details{
    display: inline-flex;
    margin: 1px;
    padding: 10px;
    width:100%;
    background-color: rgb(211, 211, 190);
    border: 1px solid rgb(70, 71, 66);
}
 .item-details .image-section{
    margin-right: 10%;
    width: 30%;
}
.item-details .info-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img{
    width:100%;
}

.listing{
    margin: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: bisque;    
    font-style: s;
}


.listing .status {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    /* border: 2px solid black; */
}
.winner {
    color:rgb(63, 90, 76);
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: 20px;
}
.create{
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(211, 211, 190);
    
}
.bidform{
    margin-top: 20px;
    position: relative;
    /* left: 5%; */
}

.comment-text{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* border: 1px solid rgb(0, 0, 0); */
}
.comment textarea {
    border-radius: 30px;
    border: 2px solid black;
    height: 80px;
    width: 100%;
}

.comment-section{
    margin: 10px;
    border:1px solid, black;
    margin-top: 25px;

}
.comment-section .c {
    border: 1px solid black;
}

.categories ul li { 
    list-style-type:none;  
    padding: 10px;
}

 /* @media (max-height:87px) {
    .image {
        width: 50%; /* Image will take up 50% of its parent element's width */
         /* You can adjust the width and other styles for smaller screens */ */
    /* }
}   */

.price{
    font-size: x-large;
    font-style: italic;
}
.btn{
    border-radius: 20px;
    background-color: rgb(193, 255, 234);
}