{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{%block body %}
{% if categories %}
    <h2>Categories </h2>
    <div class="categories">
        <ul>
            {% for category in categories %}
            <li>
                <div class="cate">
                    <a href="{% url 'category_items' %}?category={{ category }}"> {{category}}</a> 
                </div>
                <!-- here category_s store key that is in category and is used to interact -->
            </li>
            {% endfor %}
        </ul>
{% endif %}

        <div class="category-items">
            <ul>
                {%  for item in items %}
                <li>
                    <a href="{% url 'listing' item_id=item.id %}">{{item}}</a>
                </li>
                
                {% endfor %}

            </ul>
        </div>
    </div>

{% endblock %}