{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<ul class="list-group">
    {% for item in items %}
    {% if item.sold == False %}
    <li class="item-details">
            <div class="image-section">
                <img src="{{ item.image_url }}" alt="item-image">
            </div>

            <div class="info-section">
                <a href="{% url 'listing' item_id=item.id %}"><h5>{{ item.item}} </h5></a>
                <p><strong>Price: </strong>{{ item.starting_bid }}</p>
                <p>Description : {{ item.description}} </p>
                <p>Created on {{ item.created_at}} </p>
                <p>By {{ item.user }} </p>
            </div>
    </li>
    </a>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}