{% extends "auctions/layout.html" %}

{% block title %}
Listing
{% endblock %}

{% block body %}
<div class="listing">
    {% if user.is_authenticated %}
    <div class="status">
        <div class="watchlist">
            {% if item_in_watchlist %}
            <div> <a href="{% url 'add_watchlist' item_id=item.id %}"> <button class="btn">Remove</button></a></div>
            {% else %}
            <div> <a href="{% url 'add_watchlist' item_id=item.id %}"> <button class="btn">Watchlist</button></a></div>
            {% endif %}
        </div>
        <div class="winner">
            {% if item.sold %}
            {% if winner %}
            You won the Auction
            {% endif %}
            {% endif %}
        </div>
        <div class="auction-status">
            {% if not item.sold %}
            {% if user == item.user %}
            <div>
                <a href="{% url 'close_auction' %}?item_id={{ item.id }}&lar={{ current_bid }}">
                    <button class="btn">Close Auction</button>
                </a>
            </div>
            {% endif %}

            {% else %}
            <div class="auction-close">
                <div>
                    <p>Auction closed </p>
                </div>

            </div>

            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="item-details">
        <div class="image-section"><img src="{{ item.image_url }}" style="height: 180px;"> </div>

        <div class="info-section">
            <h2>Listing : {{item.item}} </h2>
            <p>Description : {{item.description }} </p>
            <p>Auctioned by : {{ item.user }} </p>
            <p class="price">Price : ${{ current_bid }} </p>
        </div>
    </div>


    {% if user.is_authenticated %}

    {% if not item.sold %}
    <div class="bidform">
        <form action="{% url 'bid' %}?item_id={{ item.id }}" method="post">
            {% csrf_token %}
            <input type="number" step="0.01" required name="bid_amount" placeholder="Bid Amount">
            <button type="submit" class="btn">Bid</button>
        </form>
    </div>
    {% endif %}

    <hr>
    <!-- comments  -->
    <div class="comment">
        <div class="comment-form">
            <form action="{% url 'comment' %}?item_id={{ item.id }}" method="post">
                {% csrf_token %}
                <!-- <input type="text" step="0.01" textarea required name="comment" placeholder="Comment"> -->
                <textarea type="text" step="0.01" required name="comment" placeholder="  Add comment here "></textarea>
                <button type="submit" class="btn">Comment</button>
            </form>
        </div>
        {% endif %}
        <div class="comment-section">
            <div>
                <h4>Recent comments: </h4>
            </div>
            {% for comment in comments %}
            <div class="comment-text">
                <div class="comment-info"> {{comment.user}} : {{comment.comment}} </div>
                <div class="time"> {{ comment.comment_time }} </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}