{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<div class="list-group">
{% for item in items %}
    {% if item.sold == True %}
    <div class="item-details">

            <div class="image-section" style="width: 30%; height: 200px;">
                <img src="{{ item.image_url }}" style="height: 180px">
            </div>

            <div class="info-section">
                <a href="{% url 'listing' item_id=item.id %}"><h5>{{ item.item}} </h5></a>
                <p><strong>Price: </strong>{{ item.starting_bid }}</p>
                <p>Description : {{ item.description}} </p>
                <p>Created on {{ item.created_at}} </p>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}